// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
$red: #e76f51;
$blue: #264653;
$yellow: #e9c46a;
$orange: #f4a261;
$green: #2a9d8f;
$gray: #22223b;
$light-gray: rgb(239, 239, 239);
$dark-orange: #bf4e30;
