<div class="container">
  <h1 class="margin-top">Gear for Rent</h1>
  <%= render 'shared/search' %>
  <div class="cards">
    <% @listings.each do |listing| %>
      <%= render 'listings_card', listing: listing %>
    <% end %>
  </div>
</div>
