<div class="container search-form-control form-group pt-3">
  <form method='get' action="/listings">
    <%= text_field_tag :query, params[:query], class: "form-control rounded-pill" , placeholder: "Find Gear!" %>
    <%= submit_tag "Search" , class: "btn mr-3 mt-3 border rounded-pill btn-outline-primary"%>
  </form>
</div>

<h1 class="margin-top">Gear for Rent</h1>
<div class="container">
  <div class="cards">
    <% @listings.each_with_index do |listing, index| %>
      <%= render 'listings_card', listing: listing %>
    <% end %>
  </div>
</div>
