<h1 class = "margin-top">Listings</h1>
<div class="cards">
  <% @listings.each_with_index do |listing, index|  %>
    <a href='a' class="card-listing">
      <img src=https://www.tonecontrol.eu/media/catalog/product/cache/b57d735e2b50efb81e39c28918fcdba9/p/i/pioneer-cdj-2000-nxs2-djm900-nxs2-set.jpg>
      <div class="card-listing-infos">
        <div>
          <h2><%= listing.name %></h2>
          <p><%= listing.description %></p>
        </div>
        <h2 class="card-listing-pricing"><%= number_to_currency(listing.price) %> / day</h2>
        <img src="https://i.pravatar.cc/150?img=<%= index + 1 %>" class="card-listing-user avatar-bordered" />
      </div>
    </a>
  <% end %>
</div>
