<h1>My rentals</h1>

<ul>
  <% @rentals.each do |rental| %>
    <li>Name: <%= rental.listing.name %></li>
    <li>Status: <%= rental.status %></li>
    <li>From: <%= rental.from %>, Until: <%= rental.until %></li>
  <% end %>
</ul>
