<div class="container mt-4">
  <h1>My Rentals</h1>
  <div class="row mt-5">
    <% @rentals.each do |rental| %>
      <div class="col-12 col-xl-6">
        <%= render 'my_rentals_card', rental: rental %>
      </div>
    <% end %>
  </div>
</div>
