<div class="container pt-4">
  <h1>Resquests for <%= @listing.name %></h1>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-6">
        <%= render 'request', rental: rental %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back to My Gear', my_listings_path(current_user), class: "btn btn-secondary rounded-pill", id:"button" %>
</div>
