<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582813278526-5eff57625acd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80);">
  <div class="container">
    <h1 class="text-left">Soundlet makes it easy to <em>rent</em> audio equipment.</h1>
    <p>Whether you're looking to rent someone's equipment or rent out your own gear, <br>Soundlet will make your experience effortless!</p>
      <div class="search-form-control form-group pt-3">
        <form method='get' action="/listings">
          <%= text_field_tag :query, params[:query], class: "form-control rounded-pill" , placeholder: "Find Gear!" %>
          <%= submit_tag "Search" , class: "btn mt-3 border rounded-pill btn-outline-primary" %>
        </form>
      </div>
  </div>
</div>
